commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  01addYumRepoForMysql:
    command: yum install -y https://dev.mysql.com/get/mysql57-community-release-el7-11.noarch.rpm
  01enableMySQL180:
    command: dnf config-manager --enable mysql80-community
  01getGPGKey:
    command: rpm --import https://repo.mysql.com/RPM-GPG-KEY-mysql-2022
  01installMysqlClient:
    command: yum install -y mysql-community-client
  01getVars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /tmp/setVar.sh
  01setPerm:
    command: chmod u+x /tmp/setVar.sh
  01setVars:
    command: source /tmp/setVar.sh

option_settings:
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web
